<header>
	{{# if login }}
	<div class="log-in-wrapper">
        <img class="logo-img" src="images/logo.svg" alt="">
        <span class="main-logo"> Tracer</span>
        <div class="slogan bc-center">Drug Tracking</div>
    </div>
        {{else}}
			
        {{/if}}
</header>